<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>
        <%- include('partials/nav') %>

        

        <section class="hero is-halfheight">
            <div class="hero-body">
                <div class="container">

                    <div id="flash-container">
                        <% if (locals.flashObj) { %>
                            <% if (flashObj.type=='success' ) { %>
                                <%- include('partials/flash-msgs/success'); %>
                            <% } %>
                        <% } %>
                    </div>

                    <div class="box" id="box-account">
                        <div id="tabs-with-content" class="my-5 mx-5">
                            <div class="tabs is-boxed">
                                <ul>
                                    <li><a>Profile</a></li>
                                    <li><a>My Orders</a></li>
                                    <li><a>Delivery Address</a></li>
                                    <li><a>Change Password</a></li>
                                </ul>
                            </div>
                            
                            <div>
                                <section class="tab-content">
                                    <h4 class="title is-4">Profile</h4>
                                    <div id="displayProfileDiv" class="column is-8 is-offset-2">
                                        <div>
                                            First Name: <span id="profileFirstNameSpan"><%= profileData.profile.firstName %></span>
                                            <br>
                                            Last Name: <span id="profileLastNameSpan"><%= profileData.profile.lastName %></span>
                                            <br>
                                            Email: <span id="profileEmailSpan"><%= profileData.profile.email %></span>
                                            <br>
                                            <br>
                                            <div class="columns">
                                                <div class="column">
                                                    <button id="editProfileBtn"
                                                        class="button is-responsive is-block is-fullwidth is-link">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="editProfileDiv" class="column is-8 is-offset-2">
                                        <div class="box">
                                            <h4 class="title is-4">Edit Profile</h4>
                                            <form id="editProfileForm" action="">
                                                <div class="field">
                                                    <label class="label">First Name</label>
                                                    <div class="control">
                                                        <input id="profileFirstNameInput" class="input is-primary" type="text" required
                                                            placeholder="Enter Name">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label class="label">Last Name</label>
                                                    <div class="control">
                                                        <input id="profileLastNameInput" class="input is-primary" type="text" required
                                                            placeholder="Enter Name">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label class="label">Email</label>
                                                    <div class="control">
                                                        <input id="profileEmailInput" class="input is-primary" type="email" required
                                                            placeholder="Enter Email">
                                                    </div>
                                                </div>
                                                <div class="columns">
                                                    <div class="column">
                                                        <button id="updateProfileBtn" type="submit"
                                                            class="button is-responsive is-block is-fullwidth is-link">Update</button>
                                                    </div>
                                                    <div class="column">
                                                        <button id="cancelEditProfileBtn" type="reset"
                                                            class="button is-responsive is-block is-fullwidth is-primary">Cancel</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </section>

                                <section class="tab-content">
                                    <div id="order_history_container" class="column is-8 is-offset-2">
                                        <h4 class="title is-4">My Orders</h4>
                                        <div class="column is-8 is-offset-2">
                                            <div class="is-centered has-text-centered">
                                                <p>You haven't placed any orders yet.</p>
                                                <br>
                                                <button onclick="window.location.href='/plants'" class="button is-block is-fullwidth is-link">Shop
                                                    Now</button>
                                            </div>
                                        </div>
                                        <!--  // S A M P L E  O R D E R  H I S T O R Y  I T E M
                                            <div class="box">
                                                <p class="price is-size-5">Date ordered: <span id="orderrr"></span> <script>document.getElementById('orderrr').innerText = new Date();</script></p>
                                                <div class="columns">
                                                    <div class="column is-one-quarter">
                                                        <img src="https://unsplash.it/g/200/200" alt="">
                                                    </div>
                                                    <div class="column">
                                                        <div class="column">
                                                            <p class="plant-name has-text-weight-bold">
                                                                Plant Name</p>
                                                            <p>Quantity:</p>
                                                            <p>Price: ₱0.00</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="columns">
                                                    <div class="column is-one-quarter">
                                                        <img src="https://unsplash.it/g/200/200" alt="">
                                                    </div>
                                                    <div class="column">
                                                        <div class="column">
                                                            <p class="plant-name has-text-weight-bold">
                                                                Plant Name</p>
                                                            <p>Quantity:</p>
                                                            <p>Price: ₱0.00</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="price is-size-5">Order Total: ₱0.00</p>
                                                <button class="button is-block is-fullwidth is-link">Buy
                                                    Again</button>
                                                <input type="hidden" value="">
                                            </div> 
                                        -->
                                    </div>
                                </section>

                                <section class="tab-content">
                                    <div id="deliveryAddressContainer" class="column is-8 is-offset-2">
                                        <div class="box">
                                            <h4 class="title is-4">Delivery Address</h4>
                                            <div id="deliveryAddressDynamicContainer">
                                            <% if (locals.profileData.delivery_address) { %> 
                                                <p>Full Name: <span id="DA_full_name_span"><%= profileData.delivery_address.full_name %></span></p>
                                                <p>House No., Street Name, Building: <span id="DA_houseNo_Street_Building_span"><%= profileData.delivery_address.houseNo_Street_Building %></span></p>
                                                <p>Barangay, Province, Region: <span id="DA_brgy_province_region_span"><%= profileData.delivery_address.brgy_province_region %></span></p>
                                                <p>Zip Code: <span id="DA_zipcode_span"><%= profileData.delivery_address.zipcode %></span></p>
                                                <p>Phone Number: <span id="DA_phoneNo_span"><%= profileData.delivery_address.phoneNo %></span></p>
                                                <br>
                                                <div class="columns">
                                                    <div class="column">
                                                        <button onclick="editAddress('Delivery Address');" class="button is-responsive is-block is-fullwidth is-link">
                                                            <span class="icon is-left">
                                                                <i class="fa-solid fa-edit"></i>
                                                            </span>
                                                            <span>Edit</span>
                                                        </button>
                                                    </div>
                                                    <div class="column">
                                                        <button onclick="deleteAddress('Delivery Address');" class="button is-responsive is-block is-fullwidth is-danger">
                                                            <span class="icon is-left">
                                                                <i class="fa-solid fa-trash"></i>
                                                            </span>
                                                            <span>Delete</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            <% } else { %>
                                                <button onclick='editAddress("Delivery Address")' class="button is-block is-fullwidth is-link">
                                                    <span class="icon is-left">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </span>
                                                    <span>Add new delivery address</span>
                                                </button>
                                            <% } %>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="billingAddressContainer" class="column is-8 is-offset-2">
                                        <div class="box">
                                            <h4 class="title is-4">Billing Address</h4>
                                            <div id="billingAddressDynamicContainer">
                                            <% if (locals.profileData.billing_address) { %> 
                                                <p>Full Name: <span id="BA_full_name_span"><%= profileData.billing_address.full_name %></span></p>
                                                <p>House No., Street Name, Building: <span id="BA_houseNo_Street_Building_span"><%= profileData.billing_address.houseNo_Street_Building %></span></p>
                                                <p>Barangay, Province, Region: <span id="BA_brgy_province_region_span"><%= profileData.billing_address.brgy_province_region %></span></p>
                                                <p>Zip Code: <span id="BA_zipcode_span"><%= profileData.billing_address.zipcode %></span></p>
                                                <p>Phone Number: <span id="BA_phoneNo_span"><%= profileData.billing_address.phoneNo %></span></p>
                                                <br>
                                                <div class="columns">
                                                    <div class="column">
                                                        <button onclick="editAddress('Billing Address');" class="button is-responsive is-block is-fullwidth is-link">
                                                            <span class="icon is-left">
                                                                <i class="fa-solid fa-edit"></i>
                                                            </span>
                                                            <span>Edit</span>
                                                        </button>
                                                    </div>
                                                    <div class="column">
                                                        <button onclick="deleteAddress('Billing Address');" class="button is-responsive is-block is-fullwidth is-danger">
                                                            <span class="icon is-left">
                                                                <i class="fa-solid fa-trash"></i>
                                                            </span>
                                                            <span>Delete</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            <% } else { %>
                                                <button onclick='editAddress("Billing Address")' class="button is-block is-fullwidth is-link">
                                                    <span class="icon is-left">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </span>
                                                    <span>Add new billing address</span>
                                                </button>
                                            <% } %>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="addressFormContainer" class="column is-8 is-offset-2">
                                        <h4 id="addressFormContainerHeader" class="title is-4">Delivery Address</h4>

                                        <form id="addressForm">
                                            <div class="field">
                                                <label class="label">Full Name</label>
                                                <div class="control">
                                                    <input id="full_name_input" class="input is-primary" type="text" required
                                                        placeholder="Enter Full Name">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">House No., Street Name,
                                                    Building</label>
                                                <div class="control">
                                                    <input id="houseNo_Street_Building_input" class="input is-primary" type="text" required
                                                        placeholder="Enter House No., Street Name, Building...">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Barangay, Province,
                                                    Region</label>
                                                <div class="control">
                                                    <input id="brgy_province_region_input" class="input is-primary" type="text" required
                                                        placeholder="Enter Barangay, Province, Region...">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Zip Code</label>
                                                <div class="control">
                                                    <input id="zipcode_input" class="input is-primary" type="text" required
                                                        placeholder="Enter Zip Code">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Phone Number</label>
                                                <div class="control">
                                                    <input id="phoneNo_input" class="input is-primary" type="text" required
                                                        placeholder="Enter phone number">
                                                </div>
                                            </div>
                                            <div class="columns">
                                                <div class="column">
                                                    <button type="submit" onclick="updateAddress()"
                                                        class="button is-responsive is-block is-fullwidth is-link">Update</button>
                                                </div>
                                                <div id="copyDeliveryAddressBtnContainer" class="column">
                                                    <button onclick="copyDeliveryAddress();"
                                                        class="button is-responsive is-block is-fullwidth is-link">Copy Delivery Address</button>
                                                </div>
                                                <div class="column">
                                                    <button type="reset" onclick="cancelAddressUpdate()"
                                                        class="button is-responsive is-block is-fullwidth is-primary">Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </section>

                                <section class="tab-content">
                                    <div class="column is-8 is-offset-2">
                                        <div class="box">
                                            <h4 class="title is-4">Change Passsword</h4>
                                            <form id="changePasswordForm">
                                                <div class="field">
                                                    <label for="" class="label has-text-left">Current
                                                        Password</label>
                                                    <p class="control has-icons-left">
                                                        <input id="currentPasswordInput" class="input is-focused" type="password"
                                                            placeholder="Enter Current Password" />
                                                        <span class="icon is-left">
                                                            <i class="fas fa-lock"></i>
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <label for="" class="label has-text-left">New
                                                        Password</label>
                                                    <p class="control has-icons-left">
                                                        <input id="newPasswordInput" class="input" type="password"
                                                            placeholder="Enter New Password" />
                                                        <span class="icon is-left">
                                                            <i class="fas fa-lock"></i>
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <label for="" class="label has-text-left">Confirm
                                                        Password</label>
                                                    <p class="control has-icons-left">
                                                        <input id="confirmPasswordInput" class="input" type="password"
                                                            placeholder="Confirm Password" />
                                                        <span class="icon is-left">
                                                            <i class="fas fa-lock"></i>
                                                        </span>
                                                    </p>
                                                </div>
                                                <button id="changePasswordBtn" class="button is-block is-link is-fullwidth">Update
                                                    Password</button>
                                            </form>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer') %>

            <script src="scripts/script.js"></script>
            <script src="scripts/edit_profile.js"></script>
            <script src="scripts/edit_address.js"></script>
            <script src="scripts/change_password.js"></script>


            <% if (locals.profileData.orders) { %> 
                <script>
                    var orders = '<%- JSON.stringify(profileData.orders) %>';
                    orders = JSON.parse(orders);
                </script>    
            <% } else { %>
                <script>
                    var orders = null;
                </script>
            <% } %>
            <script>
                const order_history_container = document.getElementById('order_history_container');
                if (orders){
                    let resultingHTML = '';
                    let index = 0;
                    orders.forEach(order => {
                        let total = 0;
                        let topHTML = '<div class="box">\
                                                <p class="price is-size-5">Date ordered: '+ new Date(order.order_date) +'</p>';  
                        let midHTML = '';    
                        Object.keys(order.cart).forEach(key => {
                            let cartItem = order.cart[key];
                            let itemTotal = cartItem.amount * parseFloat(cartItem.plant.price.$numberDecimal);
                            total += itemTotal;

                            midHTML += '<div class="columns">\
                                                <div class="column is-one-quarter">\
                                                    <img src="'+ cartItem.plant.image_path +'" alt="">\
                                                </div>\
                                                <div class="column">\
                                                    <div class="column">\
                                                        <p class="plant-name has-text-weight-bold">\
                                                            '+ cartItem.plant.plant_name +'</p>\
                                                        <p>Quantity: '+ cartItem.amount +'</p>\
                                                        <p>Price: ₱'+ cartItem.plant.price.$numberDecimal +'.00</p>\
                                                    </div>\
                                                </div>\
                                            </div>';
                        });
                        let bottomHTML = '<p class="price is-size-5">Order Total: ₱'+ (total + 50) +'.00</p>\
                                            <input type="hidden" value="'+index+'">\
                                        </div> ';
                        resultingHTML += topHTML + midHTML + bottomHTML;
                        index++;
                    });

                    if (resultingHTML){
                        order_history_container.innerHTML = resultingHTML;
                    }
                }

                function orderAgain(e){
                    let index = e.parentNode.querySelector('input[type=hidden]').value;
                    // sorry imma discontinue this feature for now HAHAHAHA
                }
            </script>
    </body>

</html>