<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>
        <%- include('partials/nav') %>

        

        <section class="hero is-halfheight">
            <div class="hero-body">
                <div class="container">

                    <div id="flash-container">
                        <% if (locals.flashObj) { %>
                            <% if (flashObj.type=='success' ) { %>
                                <%- include('partials/flash-msgs/success'); %>
                            <% } %>
                        <% } %>
                    </div>

                    <div class="box" id="box-account">
                        <div id="tabs-with-content" class="my-5 mx-5">
                            <div class="tabs is-boxed">
                                <ul>
                                    <li><a>Profile</a></li>
                                    <li><a>My Orders</a></li>
                                    <li><a>Delivery Address</a></li>
                                    <li><a>Change Password</a></li>
                                </ul>
                            </div>
                            
                            <div>
                                <section class="tab-content">
                                    <h4 class="title is-4">Profile</h4>
                                    <div id="displayProfileDiv" class="column is-8 is-offset-2">
                                        <div>
                                            First Name: <span id="profileFirstNameSpan"><%= profileData.profile.firstName %></span>
                                            <br>
                                            Last Name: <span id="profileLastNameSpan"><%= profileData.profile.lastName %></span>
                                            <br>
                                            Email: <span id="profileEmailSpan"><%= profileData.profile.email %></span>
                                            <br>
                                            <br>
                                            <div class="columns">
                                                <div class="column">
                                                    <button id="editProfileBtn"
                                                        class="button is-responsive is-block is-fullwidth is-link">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="editProfileDiv" class="column is-8 is-offset-2">
                                        <div class="box">
                                            <h4 class="title is-4">Edit Profile</h4>
                                            <form id="editProfileForm" action="">
                                                <div class="field">
                                                    <label class="label">First Name</label>
                                                    <div class="control">
                                                        <input id="profileFirstNameInput" class="input is-primary" type="text" required
                                                            placeholder="Enter Name">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label class="label">Last Name</label>
                                                    <div class="control">
                                                        <input id="profileLastNameInput" class="input is-primary" type="text" required
                                                            placeholder="Enter Name">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label class="label">Email</label>
                                                    <div class="control">
                                                        <input id="profileEmailInput" class="input is-primary" type="email" required
                                                            placeholder="Enter Email">
                                                    </div>
                                                </div>
                                                <div class="columns">
                                                    <div class="column">
                                                        <button id="updateProfileBtn" type="submit"
                                                            class="button is-responsive is-block is-fullwidth is-link">Update</button>
                                                    </div>
                                                    <div class="column">
                                                        <button id="cancelEditProfileBtn" type="reset"
                                                            class="button is-responsive is-block is-fullwidth is-primary">Cancel</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </section>

                                <section class="tab-content">
                                    <h4 class="title is-4">My Orders</h4>
                                    <div class="column is-8 is-offset-2">
                                        <div class="is-centered has-text-centered">
                                            <p>You haven't placed any orders yet.</p>
                                            <br>
                                            <button class="button is-block is-fullwidth is-link">Shop
                                                Now</button>
                                        </div>
                                    </div>
                                    <div class="column is-8 is-offset-2">
                                        <div class="box">
                                            <div class="columns">
                                                <div class="column is-one-quarter">
                                                    <img src="https://unsplash.it/g/200/200" alt="">
                                                </div>
                                                <div class="column">
                                                    <div class="column">
                                                        <p class="plant-name has-text-weight-bold">
                                                            Plant Name</p>
                                                        <p>Quantity:</p>
                                                        <p>Price: ₱0.00</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="columns">
                                                <div class="column is-one-quarter">
                                                    <img src="https://unsplash.it/g/200/200" alt="">
                                                </div>
                                                <div class="column">
                                                    <div class="column">
                                                        <p class="plant-name has-text-weight-bold">
                                                            Plant Name</p>
                                                        <p>Quantity:</p>
                                                        <p>Price: ₱0.00</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="price is-size-5">Order Total: ₱0.00</p>
                                        </div>
                                        <button class="button is-block is-fullwidth is-link">Buy
                                            Again</button>

                                    </div>
                                </section>

                                <section class="tab-content">
                                    <h4 class="title is-4">My Addresses</h4>
                                    <div class="column is-8 is-offset-2">
                                        <div class="box">
                                            <p>Full Name: </p>
                                            <p>House No., Street Name, Building:</p>
                                            <p>Barangay, Province, Region:</p>
                                            <p>Zip Code: </p>
                                            <p>Phone Number: </p>
                                        </div>
                                        <button class="button is-block is-link is-fullwidth">
                                            <span class="icon is-left">
                                                <i class="fa-solid fa-circle-plus"></i>
                                            </span>
                                            <span>Add a new address</span>
                                        </button>
                                    </div>
                                    <div class="column is-8 is-offset-2">
                                        <form id="addNewAddressForm">
                                            <div class="field">
                                                <label class="label">Full Name</label>
                                                <div class="control">
                                                    <input class="input is-primary" type="text"
                                                        placeholder="Enter Full Name">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">House No., Street Name,
                                                    Building</label>
                                                <div class="control">
                                                    <input class="input is-primary" type="text"
                                                        placeholder="Enter House No., Street Name, Building...">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Barangay, Province,
                                                    Region</label>
                                                <div class="control">
                                                    <input class="input is-primary" type="text"
                                                        placeholder="Enter Barangay, Province, Region...">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Zip Code</label>
                                                <div class="control">
                                                    <input class="input is-primary" type="text"
                                                        placeholder="Enter Zip Code">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Phone Number</label>
                                                <div class="control">
                                                    <input class="input is-primary" type="email"
                                                        placeholder="Enter phone number">
                                                </div>
                                            </div>
                                            <div class="columns">
                                                <div class="column">
                                                    <button
                                                        class="button is-responsive is-block is-fullwidth is-link">Update</button>
                                                </div>
                                                <div class="column">
                                                    <button
                                                        class="button is-responsive is-block is-fullwidth is-primary">Cancel</button>
                                                </div>
                                                <div class="column">
                                                    <button
                                                        class="button is-responsive is-block is-fullwidth is-primary">Delete</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </section>

                                <section class="tab-content">
                                    <div class="column is-8 is-offset-2">
                                        <div class="box">
                                            <h4 class="title is-4">Change Passsword</h4>
                                            <form id="changePasswordForm">
                                                <div class="field">
                                                    <label for="" class="label has-text-left">Current
                                                        Password</label>
                                                    <p class="control has-icons-left">
                                                        <input id="currentPasswordInput" class="input is-focused" type="password"
                                                            placeholder="Enter Current Password" />
                                                        <span class="icon is-left">
                                                            <i class="fas fa-lock"></i>
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <label for="" class="label has-text-left">New
                                                        Password</label>
                                                    <p class="control has-icons-left">
                                                        <input id="newPasswordInput" class="input" type="password"
                                                            placeholder="Enter New Password" />
                                                        <span class="icon is-left">
                                                            <i class="fas fa-lock"></i>
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <label for="" class="label has-text-left">Confirm
                                                        Password</label>
                                                    <p class="control has-icons-left">
                                                        <input id="confirmPasswordInput" class="input" type="password"
                                                            placeholder="Confirm Password" />
                                                        <span class="icon is-left">
                                                            <i class="fas fa-lock"></i>
                                                        </span>
                                                    </p>
                                                </div>
                                                <button id="changePasswordBtn" class="button is-block is-link is-fullwidth">Update
                                                    Password</button>
                                            </form>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer') %>

            <script src="scripts/script.js"></script>
            <script src="scripts/edit_profile.js"></script>
            <script src="scripts/change_password.js"></script>
    </body>

</html>